<mat-card>
    <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image 
     src="https://miro.medium.com/max/1838/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" 
     alt="cofee">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">Like</button>
        <button mat-button color="primary">Share</button>
    </mat-card-actions>
</mat-card>